body{

margin:0;
padding:0;

font-family:Arial,sans-serif;

background:
linear-gradient(
to bottom,
#050816,
#0b1026,
#111827
);

color:white;

text-align:center;

min-height:100vh;

}


.container{

width:90%;
max-width:1300px;

margin:auto;

padding:30px;

}


.title{

font-size:55px;

margin-bottom:10px;

text-shadow:
0 0 15px #3b82f6,
0 0 30px #60a5fa;

}


.subtitle{

font-size:18px;

color:#cbd5e1;

margin-bottom:30px;

}


input[type="file"]{

padding:10px;

border-radius:10px;

background:#1e293b;

color:white;

border:none;

}


button{

padding:12px 25px;

border:none;

border-radius:15px;

cursor:pointer;

font-size:16px;

font-weight:bold;

background:#2563eb;

color:white;

transition:0.4s;

margin:5px;

}


button:hover{

transform:scale(1.05);

background:#3b82f6;

box-shadow:
0 0 20px #3b82f6;

}


.result{

margin-top:30px;

padding:25px;

background:rgba(20,20,35,.85);

border-radius:20px;

border:1px solid #3b82f6;

box-shadow:
0 0 20px rgba(
59,
130,
246,
0.5
);

}


.planet-image{

width:300px;

height:300px;

object-fit:cover;

border-radius:20px;

margin-bottom:20px;

box-shadow:
0 0 20px rgba(
255,
255,
255,
0.3
);

}


.planet-name{

font-size:45px;

color:#60a5fa;

text-shadow:
0 0 15px #60a5fa;

}


.info{

margin-top:20px;

padding:20px;

text-align:left;

background:rgba(
0,
0,
0,
0.3
);

border-radius:15px;

line-height:2;

}


.info p{

font-size:18px;

margin:8px 0;

}


/* SISTEMA SOLAR */

.planet-grid{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:25px;

margin-top:30px;

}


.planet-card{

width:300px;

padding:20px;

background:rgba(
20,
20,
35,
0.85
);

border-radius:25px;

border:1px solid #3b82f6;

transition:0.4s;

box-shadow:
0 0 15px rgba(
59,
130,
246,
0.3
);

}


.planet-card:hover{

transform:
translateY(-10px)
scale(1.03);

box-shadow:
0 0 30px rgba(
59,
130,
246,
0.8
);

}


.planet-photo{

width:200px;

height:200px;

border-radius:50%;

object-fit:cover;

margin-bottom:15px;

box-shadow:
0 0 20px rgba(
255,
255,
255,
0.4
);

}


.planet-card h2{

color:#60a5fa;

font-size:30px;

}


.planet-card p{

font-size:15px;

line-height:1.7;

}


@media(max-width:768px){

.title{

font-size:35px;

}

.planet-image{

width:220px;
height:220px;

}

.planet-card{

width:100%;

}

}